.carrello {
    padding: 25px;
    min-height: 372px;
}

.cartItem {
    border: 1px solid #757c88;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    padding: 0 25px;
    margin: 10px 25px;
}

.cart {
    display: flex;
    margin: 0;
    justify-content: space-between
}

.q {
    border-radius: 15px;
    width: 50px;
    text-align: end;
}

.qD {
    display: flex;
    align-items: center;
}

.total {
    margin-right: 150px;
}

.items {
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    width: -webkit-fill-available;
}

.del:hover {
    cursor: pointer;
}

.acq {
    font-family: Bahnschrift, serif;
    border-radius: 15px;
    padding: 5px;
    margin: 5px 15px;
    width: -webkit-fill-available;
}

.back a {
    color: black;
    text-decoration: black;
}

.back {
    width: min-content;
    padding-right: 13px;
}

.bc {
    display: flex;
    flex-direction: row;
    align-items: center;
}