.login {
    text-align: center;
    border: 1px solid #757c88;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.li {
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
}

#chest {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 69vh;
}

.searchBar {
    visibility: hidden;
}

button {
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 20px;
    margin: 5px auto;
}

a {
    font-size: small;
}

.uIcon {
    visibility: hidden;
}

header span{
    visibility: hidden;
}

.vError {
    color: red;
}