.sr_card{
    width: 100%;
    height: 300px;

    background-color: #eee;
    border-radius: 5px;

    position: relative;
    max-width: 1350px;
    margin: 0 auto;

    margin-top: 30px;

}

.sr_card_content{
    width: 100%;
    height: 100%;
    display: flex;
}
.img_sr_card {
    width: 40%; /* Assicura che il div contenga completamente l'immagine */
    height: 100%; /* Altezza predefinita del contenitore */
    overflow: hidden; /* Nasconde eventuali parti dell'immagine che potrebbero fuoriuscire dal div */
}

.img_sr_card img {
    width: 100%; /* Larghezza automatica per mantenere le proporzioni */
    height: 100%; /* Altezza pari al 100% del contenitore */
    object-fit: cover; /* L'immagine viene ridimensionata per riempire il contenitore mantenendo le proporzioni */
}


.text_sr_card{
    width: 60%;
    height: 100%;
}

.button{
    font-size: 1rem;
    text-transform: uppercase;
    background-color: aquamarine;
    color: #333;
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
    border-radius: 4px;
    font-weight: 700;
    border:none;
}

.button:hover{
    background-color: cornflowerblue;
}

.sRes {
    text-align: center;
    min-height: 65vh;
}

.nEl {
    color: red;
}


.back{
    display: flex;
    font-size: 25px;
    text-align: center;
    background: #fff;
    line-height: 1.7em;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin: 0 auto 0 10px;
    align-items: center;
    justify-content: space-evenly;
}

.back:hover {
    cursor: pointer;
}

.back a {
    padding-top: 10px;
    color: black;
    text-decoration: black;
}